<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trantec.yo"
    android:largeHeap="true">

    <!-- permissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- features -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.trantec.yo.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <!-- Define new permissions -->
    <permission
        android:name="com.biometric.usosdkbytte.NEW_READ_LKMS_LICENSE_PROVIDER"
        android:protectionLevel="signature" />
    <permission
        android:name="com.biometric.usosdkbytte.NEW_WRITE_LKMS_LICENSE_PROVIDER"
        android:protectionLevel="signature" />
    <permission
        android:name="com.biometric.usosdkbytte.NEW_READ_MPH_BIO_SDK_PROVIDER"
        android:protectionLevel="signature" /> <!-- unless otherwise required, set the maximum security permission -->
    <permission
        android:name="com.biometric.usosdkbytte.NEW_WRITE_MPH_BIO_SDK_PROVIDER"
        android:protectionLevel="signature" /> <!-- unless otherwise required, set the maximum security permission -->


    <!-- Remove old permissions -->
    <permission
        android:name="BioStoreProvider.READ_MPH_BIO_SDK_PROVIDER"
        tools:node="remove" /> <!-- unless otherwise required, set the maximum security permission -->
    <permission
        android:name="BioStoreProvider.WRITE_MPH_BIO_SDK_PROVIDER"
        tools:node="remove" /> <!-- unless otherwise required, set the maximum security permission -->

    <permission
        android:name="com.morpho.lkms.android.sdk.lkms_core.content_provider.LkmsStoreProvider.WRITE_LKMS_LICENSE_PROVIDER"
        tools:node="remove" />
    <permission
        android:name="com.morpho.lkms.android.sdk.lkms_core.content_provider.LkmsStoreProvider.READ_LKMS_LICENSE_PROVIDER"
        tools:node="remove" />

    <application
        android:name=".YoPrestoApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icon"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="allowBackup">

        <!--
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_Y5V5Uh0uzIspPppruNQ5GSFUMeF76aw"/>
        -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.TakeDNICaptureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Stores"
            android:label="Mis Tiendas" />
        <activity
            android:name=".alerts.EnrollmentNo"
            android:label="Yo presto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Reports"
            android:label="Reportes" />
        <activity android:name=".Enrollment" />
        <activity android:name=".ResultCapture" />
        <activity android:name=".ui.main.ImportantInformation" />
        <activity
            android:name=".Utilization"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".activity_report"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_tab"
            android:label="@string/title_activity_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity
            android:name=".Report"
            android:label="@string/title_activity_report_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alerts.NoCredit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EscaneoOk"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alerts.EnrollmentOk"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alerts.SuccessfulTransaction"
            android:screenOrientation="portrait" />
        <activity android:name="com.bytte.docbytte.ui.CFrontDocument" />
        <activity android:name="com.bytte.docbytte.ui.CBackDocument" />
        <activity android:name="com.bytte.biometricbytte.bfactor.license.BytteLicense" />
        <activity android:name="com.bytte.biometricbytte.bfactor.face.BytteCaptureFace" />
        <activity android:name="com.bytte.biometricbytte.bfactor.huella.BytteFingerPrint" />

        <provider
            android:name="com.morpho.mph_bio_sdk.android.sdk.content_provider.BioStoreProvider"
            android:authorities="com.bytte.testapp.bio_store"
            android:readPermission="com.bytte.testapp.NEW_READ_MPH_BIO_SDK_PROVIDER"
            android:writePermission="com.bytte.testapp.NEW_WRITE_MPH_BIO_SDK_PROVIDER"
            tools:replace="android:authorities, android:readPermission, android:writePermission" />
        <provider
            android:name="com.morpho.lkms.android.sdk.lkms_core.content_provider.LkmsStoreProvider"
            android:authorities="com.bytte.testapp.lkms"
            android:readPermission="com.bytte.testapp.NEW_READ_LKMS_LICENSE_PROVIDER"
            android:writePermission="com.bytte.testapp.NEW_WRITE_LKMS_LICENSE_PROVIDER"
            tools:replace="android:authorities, android:readPermission, android:writePermission" />

        <activity android:name=".ui.Main2Activity"></activity>
    </application>

</manifest>